<div class="mt-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h2 class="text-lg font-medium text-gray-900"><%= t('dashboard.recent_trips') %></h2>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to t('dashboard.view_all'), trips_path, class: "block btn-primary text-center" %>
    </div>
  </div>
  
  <div class="mt-4 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900"><%= t('dashboard.date') %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t('dashboard.scooter') %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t('dashboard.duration') %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t('dashboard.distance') %></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @recent_trips.each do |trip| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900">
                    <%= link_to l(trip.started_at, format: :date_time), trip_path(trip), class: "text-indigo-600 hover:text-indigo-900" %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= link_to trip.scooter.name, scooter_path(trip.scooter), class: "text-indigo-600 hover:text-indigo-900" %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= format_trip_duration(trip) %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= format_trip_distance(trip) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
