<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-2xl font-semibold leading-6 text-gray-900"><%= t('dashboard.title') %></h1>
    <p class="mt-2 text-sm text-gray-700"><%= t('dashboard.overview') %></p>
  </div>
</div>

<% if @scooters.none? %>
  <%= render "onboarding" %>
<% elsif @recent_trips.none? %>
  <%= render "scooter_tiles" %>
  <%= render "waiting_for_trips" %>
  <%= render "recent_achievements" %>
<% else %>
  <%= render "scooter_tiles" %>
  <%= render "trip_stats" %>
  <%= render "recent_achievements" %>
  <%= render "recent_trips" %>
<% end %>
