<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= I18n.t('title', :scope => 'devise.otp.credentials_refresh') %></h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <% if flash[:alert] %>
      <div class="mb-4 p-4 bg-red-100 text-red-800 rounded">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <p class="mb-4 text-sm text-gray-600">
      <%= I18n.t('explain', :scope => 'devise.otp.credentials_refresh') %>
    </p>

    <%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :otp_credential], :html => { :method => :put, "data-turbo" => false, :class => "space-y-6" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <label for="user_email" class="block text-sm font-medium leading-6 text-gray-900">
          <%= f.label :email %>
        </label>
        <div class="mt-2">
          <%= f.text_field :email, :disabled => :true, :class => "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <label for="user_refresh_password" class="block text-sm font-medium leading-6 text-gray-900">
          <%= f.label :password %>
        </label>
        <div class="mt-2">
          <%= f.password_field :refresh_password, :autocomplete => :off, :autofocus => true, :class => "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= f.submit I18n.t(:go_on, :scope => 'devise.otp.credentials_refresh'), :class => "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
