<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-2xl font-semibold leading-6 text-gray-900">unu uplink logs</h1>
    <p class="mt-2 text-sm text-gray-700">All telemetry sent by unu-uplink.</p>
  </div>
</div>

<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Timestamp</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">IMEI</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Topic</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @requests.each do |request| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900">
                  <%= request.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= request.imei %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= request.topic %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= link_to "Details", admin_unu_uplink_request_path(request), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mt-4">
        <%= paginate @requests %>
      </div>
    </div>
  </div>
</div>