<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-2">
  <%= button_to unlock_scooter_path(scooter), class: "btn-primary green w-full" do %>
    Unlock
  <% end %>

  <%= button_to lock_scooter_path(scooter), class: "btn-primary red w-full" do %>
    Lock
  <% end %>

  <%= button_to honk_scooter_path(scooter), class: "btn-secondary w-full" do %>
    Honk
  <% end %>

  <%= button_to open_seatbox_scooter_path(scooter), class: "btn-secondary w-full" do %>
    Open Seatbox
  <% end %>

  <div class="relative" data-controller="dropdown">
    <button type="button" data-action="dropdown#toggle" class="btn-secondary w-full">
      Turn Signals
    </button>
    <div data-dropdown-target="menu" class="dropdown-menu hidden">
      <div class="py-1">
        <%= button_to blinkers_scooter_path(scooter, state: "left"), class: "dropdown-item" do %>
          Left
        <% end %>
        <%= button_to blinkers_scooter_path(scooter, state: "right"), class: "dropdown-item" do %>
          Right
        <% end %>
        <%= button_to blinkers_scooter_path(scooter, state: "both"), class: "dropdown-item" do %>
          Hazards
        <% end %>
        <%= button_to blinkers_scooter_path(scooter, state: "off"), class: "dropdown-item" do %>
          Off
        <% end %>
      </div>
    </div>
  </div>

  <%= button_to locate_scooter_path(scooter), class: "btn-secondary w-full" do %>
    Locate
  <% end %>

  <%= button_to alarm_scooter_path(scooter),
      class: "btn-warning w-full",
      data: { 
        controller: "confirm",
        action: "confirm#confirm",
        confirm_message_value: "Really sound alarm?"
      } do %>
    Alarm (5s)
  <% end %>

  <%= button_to ping_scooter_path(scooter), class: "btn-secondary w-full" do %>
    Ping
  <% end %>

  <%= button_to get_state_scooter_path(scooter), class: "btn-secondary w-full" do %>
    Request Telemetry
  <% end %>

  <%= button_to update_firmware_scooter_path(scooter), 
      class: "btn-warning w-full",
      data: { 
        controller: "confirm",
        action: "confirm#confirm",
        confirm_message_value: "Start client update?"
      } do %>
    Update Client
  <% end %>
</div>
