<div id="<%= dom_id(scooter) %>" class="bg-white shadow-sm rounded-lg hover:shadow-md transition-shadow duration-200 relative p-2">
  <%= link_to scooter_path(scooter), class: "block" do %>
    <div class="p-4 flex flex-col">
        <div class="w-full mb-2">
          <%= image_tag scooter.scooter_image_path("side"), class: "w-full max-w-xs mx-auto" %>
        </div>
        
        <div class="w-full flex flex-col">
          <div class="flex justify-between items-start">
            <div>
              <h3 class="text-base font-semibold text-gray-900 flex items-center">
                <%= scooter.name %>
                <% if scooter.is_online? %>
                  <span class="inline-block w-2 h-2 rounded-full bg-green-500 ml-2"></span>
                <% elsif scooter.last_seen_at %>
                  <span class="inline-block w-2 h-2 rounded-full bg-red-500 ml-2"></span>
                <% else %>
                  <span class="inline-block w-2 h-2 rounded-full bg-yellow-500 ml-2"></span>
                <% end %>
              </h3>
            </div>
            
            <div class="text-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>

          <div class="mt-3 flex flex-col space-y-2">
            <div class="flex items-center space-x-2">
              <div class="flex flex-col items-center">
                <div class="badge <%= battery_presence_classes(scooter.battery0_present) %>">
                  <%= t('scooters.status.main_battery_with_level', level: number_to_percentage(scooter.battery0_level, precision: 0)) %>
                </div>
              </div>
              
              <% if scooter.battery1_present %>
                <div class="flex flex-col items-center">
                  <div class="badge <%= battery_presence_classes(scooter.battery1_present) %>">
                    <%= t('scooters.status.spare_battery_with_level', level: number_to_percentage(scooter.battery1_level, precision: 0)) %>
                  </div>
                </div>
              <% end %>

              <div class="badge <%= battery_status_classes(scooter.aux_battery_level) %>">
                <%= t('scooters.status.aux_with_level', level: number_to_percentage(scooter.aux_battery_level, precision: 0)) %>
              </div>

              <div class="badge <%= battery_status_classes(scooter.cbb_battery_level) %>">
                <%= t('scooters.status.cbb_with_level', level: number_to_percentage(scooter.cbb_battery_level, precision: 0)) %>
              </div>
            </div>

            <div class="flex flex-wrap gap-2">
              <div class="badge <%= scooter.locked? ? 'badge-error' : 'badge-success' %>">
                <%= scooter.state&.titleize %>
              </div>
              <div class="badge badge-info"><%= t('scooters.status.kickstand_with_status', status: scooter.kickstand&.titleize || t('scooters.status.unknown')) %></div>
              <div class="badge badge-info"><%= t('scooters.status.seatbox_with_status', status: scooter.seatbox&.titleize || t('scooters.status.unknown')) %></div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
  
  <div id="scooter_<%= scooter.id %>_quick_controls" class="mt-0 border-t py-3 px-4">
    <%= render partial: "scooters/quick_controls", locals: { scooter: scooter } %>
  </div>
</div>
