<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Sunshine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body class="h-full">
    <div class="min-h-full flex flex-col">
      <%= render partial: "navigation" %>

      <main class="flex-grow">
        <div class="mx-auto max-w-7xl px-4 py-6 pb-12 sm:px-6 lg:px-8">
          <% if notice %>
            <div class="rounded-md bg-green-50 p-4 mb-4">
              <div class="flex">
                <div class="ml-3">
                  <p class="text-sm font-medium text-green-800"><%= notice %></p>
                </div>
              </div>
            </div>
          <% end %>
          
          <% if alert %>
            <div class="rounded-md bg-red-50 p-4 mb-4">
              <div class="flex">
                <div class="ml-3">
                  <p class="text-sm font-medium text-red-800"><%= alert %></p>
                </div>
              </div>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </main>
      
      <%= render partial: "footer" %>
    </div>
  </body>
</html>
